<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Box Icons [https://boxicons.com/usage]-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Dashboard</title>
    <link rel="icon" href='/assets/images/r-icon.svg' type="image/svg">
    <link rel="stylesheet" href="/styles/user_dashboard.css">
</head>

<body>
    <!--START OF SIDEBAR-->
    <section id="sidebar">
        <a href="/user_dashboard" alt="Rentify Logo" class="logo-img">
            <img src='/assets/images/r-icon.svg' alt="Rentify Logo" class="logo-img">
        </a>
        <ul class="side-menu top">
            <li class="active">
                <a href="/user_dashboard">
                    <i class='bx bxs-dashboard'></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/rooms">
                    <i class='bx bxs-door-open'></i>
                    <span class="text">Rooms</span>
                </a>
            </li>
            <li>
                <a href="/equipments">
                    <i class='bx bxs-cabinet'></i>
                    <span class="text">Equipments</span>
                </a>
            </li>
            <ul class="side-menu bottom">
                <li>
                    <a href="#" class="report">
                        <i class='bx bxs-shield-minus'></i>
                        <span class="text">Report</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="logout" onclick="openLogoutModal()">
                        <i class='bx bx-log-out'></i>
                        <span class="text">Logout</span>
                    </a>
                </li>
            </ul>
    </section>
    <!--END OF SIDEBAR-->
    <!--LOGOUT MODAL-->
    <div id="logoutModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeLogoutModal()">&times;</span>
            <p>Are you sure you want to logout?</p>
            <button class="logout-button" onclick="logout()">Logout</button>
        </div>
    </div>
    <!--START OF CONTENT-->
    <section id="content">
        <nav>
            <i class='bx bx-menu-alt-left'></i>
            <a href="#" class="nav-link">Categories</a>
            <form action="#">
                <div class="form-input">
                    <input type="search" placeholder="Search for Room or Equipment">
                    <button type="submit" class="search-btn"><i class='bx bx-search'></i></button>
                </div>
            </form>
            <!--Notification Feature-->
            <a href="#" class="notification">
                <i class='bx bxs-bell'></i>
                <!--UPDATE: BY NUMBER OF ORDERS-->
                <span class="num">8</span>
            </a>
            <!--Profile Feature-->
            <a href="#" class="profile">
                <i class='bx bxs-user-circle'></i>
            </a>
        </nav>
        <main id="dashboard-content">
            <div class="head-title">
                <div class="left">
                    <h1>Dashboard</h1>
                    <ul class="breadcrumb">
                        <li>
                            <a href="user_dashboard">Home</a>
                        </li>
                        <li><i class='bx bx-chevron-right'></i></li>
                        <li>
                            <a class="active" href="user_dashboard">Dashboard</a>
                        </li>
                    </ul>
                </div>
            </div>
            <ul class="box-info">
                <li>
                    <i class='bx bxs-calendar-check'></i>
                    <!--UPDATE: BY NUMBER OF ORDERS-->
                    <span class="text">
                        <h3>1</h3>
                        <p>New Orders</p>
                    </span>
                </li>
                <li>
                    <i class='bx bxs-door-open'></i>
                    <span class="text">
                        <!--UPDATE: BY NUMBER OF ROOMS AVAILABLE-->
                        <h3>2</h3>
                        <p>Rooms Available</p>
                    </span>
                </li>
                <li>
                    <i class='bx bxs-cabinet'></i>
                    <span class="text">
                        <!--UPDATE: BY NUMBER OF EQUIPMENT AVAILABLE-->
                        <h3>2</h3>
                        <p>Equipments Available</p>
                    </span>
                </li>
            </ul>
            <div class="transactions-data">
                <div class="order">
                    <div class="head">
                        <h3>Recent Transactions</h3>
                        <i class='bx bx-search'></i>
                        <i class='bx bx-filter'></i>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th>Transaction Number</th>
                                <th>User ID</th>
                                <th>Custodian ID</th>
                                <th>Room ID</th>
                                <th>Equipment ID</th>
                                <th>Transaction Date</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each transactions}}
                            <tr>
                                <td>{{ transaction_num }}</td>
                                <td>{{ user_id }}</td>
                                <td>{{ custodian_id }}</td>
                                <td>{{ room_id }}</td>
                                <td>{{ equip_id }}</td>
                                <td>{{ transaction_date }}</td>
                                <td class="status {{ transaction_status }}">{{ transaction_status }}</td>
                            </tr>
                            {{/each}}
                        </tbody>

                    </table>
                </div>
            </div>
        </main>
    </section>
    <!--END OF CONTENT-->
</body>
<script src="/scripts/script.js"></script>

</html>